body, html{
  height:100%;
}

body{
  margin: 0px;
  background-image: url("images/background.png");
  background-size: 100% 100%;
  font-size: 18px;

}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.partyTime{
  background-image: url("images/partyTime.gif");
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}

.title{
  background-color: #777;
}

.mario {
  height: 120px;
  width: 120px;
  background-image: url("images/marioFront.gif");
  background-size: 100% 100%;
  position: absolute;
}

.marioJackson {
  height: 120px;
  width: 120px;
  background-image: url("images/marioJackson.gif");
  background-size: 100% 100%;
  position: absolute;
}

.luigi {
  height: 120px;
  width: 120px;
  background-image: url('images/luigiFront.gif');
  background-size: 100% 100%;
  position: absolute;
}

.bowser {
  height: 120px;
  width: 120px;
  background-image: url('images/bowserFront.gif');
  background-size: 100% 100%;
  position: absolute;
}

.donkey {
  height: 120px;
  width: 120px;
  background-image: url('images/donkeyFront.gif');
  background-size: 100% 100%;
  position: absolute;
}

.peach {
  height: 120px;
  width: 120px;
  background-image: url('images/peachFront.gif');
  background-size: 100% 100%;
  position: absolute;
}

.toad {
  height: 120px;
  width: 120px;
  background-image: url('images/toadFront.gif');
  background-size: 100% 100%;
  position: absolute;
}

.turtle {
  height: 120px;
  width: 120px;
  background-image: url('images/turtleFront.gif');
  background-size: 100% 100%;
  position: absolute;
}

.warrio {
  height: 120px;
  width: 120px;
  background-image: url('images/warrioFront.gif');
  background-size: 100% 100%;
  position: absolute;
}

.yoshi {
  height: 120px;
  width: 120px;
  background-image: url('images/yoshiFront.gif');
  background-size: 100% 100%;
  position: absolute;
}
